fastapi==0.109.2
uvicorn==0.27.1
python-dotenv==1.0.1
python-multipart==0.0.9
pydantic>=2.7.0
pydantic-settings>=2.7.1
python-jose==3.3.0
reportlab==4.0.9
jinja2==3.1.3
sqlalchemy>=1.4.0
asyncpg
alembic
aiohttp>=3.9.0
squareup==35.0.0.20240222
weasyprint==64.0
firebase-admin>=6.0.0
